<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="container welcome-search">
        <div class="row">
            <div class="col-lg-9">
                <div class="welcome-box">
                    <div class="container text-center text-md-left" data-aos="fade-up">
                        <h1>Welcome to <span>YooMoov</span></h1>
                        <h2>Book a van & driver, nationwide, to help You Move!</h2>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <form action="{% url 'search' %}" class="hero-search-form">
                    <div class="search-box">
                        <p>VAN FINDER</p>
                        <!-- Form Row 1 -->
                        <div class="form-row">
                            <div class="col-md-12 form-fields">
                                <select name="van-size" class="form-control">
                                    <option selected disabled>Van Size (All)</option>
                                    {% for key,value in van_size_choices.items %}
                                    <option value="{{ key }}">{{ value }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <!-- Form Row 2 -->
                            <div class="col-md-12 form-fields">
                                <select name="location" class="form-control">
                                    <option selected disabled>Location (All)</option>
                                    {% for key,value in location_choices.items %}
                                    <option value="{{ key }}">{{ value }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <!-- Form Row 3 -->
                            <div class="col-md-12 form-fields">
                                <select name="county" class="form-control">
                                    <option selected disabled>County (All)</option>
                                    {% for key,value in county_choices.items %}
                                    <option value="{{ key }}">{{ value }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-12" id="btn-search">
                                <button type="submit" class="btn btn-warning btn-search btn-block">Search</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section><!-- End Hero -->