{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- ======= Hero Section ======= -->
{% include 'partials/_hero-search.html' %}
<!-- End Hero -->

<main id="main">

    <!-- ======= All Vans Section ======= -->
    <section id="home-featured" class="home-featured bg-light">
        <div class="container">

            <!-- ======= Breadcrumbs ======= -->
            <section id="breadcrumbs" class="breadcrumbs">
                <div class="container">

                    <div class="d-flex justify-content-between align-items-center">
                        <ol>
                            <li><a href="{% url 'home' %}">Home</a></li>
                            <li>All Vans</li>
                        </ol>
                    </div>

                </div>
            </section><!-- End Breadcrumbs -->

            <div class="section-title">
                <h1> <img class="cow-icon" src="{% static 'media/cow_icon.png' %}" alt="Cow Icon">ALL VANS
                </h1>
            </div>
            <div class="row">
                {% if vans %}
                {% for van in vans %}
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                    <div class="van">
                        <img src="{{ van.image.url }}" alt="{{ van.name }}">
                        <h4>{{ van.name }}</h4>
                        <br>
                        <div class="featured-detail">
                            <h5>Size: {{ van.size }}</h5>
                            <h5>Crew: {{ van.crew }}</h5>
                            <h5>Location: {{ van.location }}</h5>
                            <h5>County: {{ van.county }}</h5>
                            <h5>Price: £{{ van.price }} / day</h5>
                        </div>
                        <button type="button" class="btn btn-warning"><a
                                href="{% url 'van_detail' van.slug %}">Details</a></button>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <div class="col-md-12 no-data-notice">
                    <p>No Listings Available</p>
                </div>
                {% endif %}
            </div>

            <!-- Pagination -->
            <div class="row">
                <div class="col-md-12 d-flex justify-content-center">
                    {% if vans.has_other_pages %}
                    <ul class="pagination">
                        {% if vans.has_previous %}
                        <li class="page-item">
                            <a href="?page={{listings.previous_page_number}}" class="page-link">&laquo</a>
                        </li>
                        {% else %}
                        <li class="page-item disabled">
                            <a href="" class="page-link">&laquo</a>
                        </li>
                        {% endif %}
                        {% for i in vans.paginator.page_range %}
                        {% if vans.number == i %}
                        <li class="page-item active">
                            <a href="" class="page-link">{{i}}</a>
                        </li>
                        {% else %}
                        <li class="page-item">
                            <a href="?page={{i}}" class="page-link">{{i}}</a>
                        </li>
                        {% endif %}
                        {% endfor %}
                        {% if vans.has_next %}
                        <li class="page-item">
                            <a href="?page={{listings.next_page_number}}" class="page-link">&raquo</a>
                        </li>
                        {% else %}
                        <li class="page-item disabled">
                            <a href="" class="page-link">&raquo</a>
                        </li>
                        {% endif %}
                    </ul>
                    {% endif %}
                </div>
            </div> <!-- EndPagination -->

            <div class="all-vans-btn">
                <button type="button" class="btn btn-warning btn-all-vans"><a href="{% url 'home' %}">Search
                        Vans</a></button>
            </div>
        </div>
    </section><!-- End All Vans Section -->
</main><!-- End #main -->
{% endblock %}