{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<section class="bg-light">
    <div class="container">
        <div class="section-title section-header">
            <h1> <img class="cow-icon" src="{% static 'media/cow_icon.png' %}" alt="Cow Icon">USER
                DASHBOARD</h1>
            <h2><strong>Welcome {{ user.first_name }}:</strong></h2>
        </div>

        <!-- ======= Breadcrumbs ======= -->
        <div id="breadcrumbs" class="breadcrumbs">
            <div class="container">
                <div class="d-flex justify-content-between align-items-center">
                    <ol>
                        <li><a href="{% url 'home' %}">Home</a></li>
                        <li>Dashboard</li>
                    </ol>
                </div>
            </div>
        </div><!-- End Breadcrumbs -->

        <!-- Onscreen Messages -->
        {%  include 'partials/_onscreen_messages.html' %}
    </div>
</section>

<!-- ======= Bookings Dashboard ======= -->
<div class="dashboard py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-12 create-booking-btn">
                    <h4>Create New Booking</h4>
                    <button class="create-booking-button" data-toggle="modal" data-target="#bookingModal"><i
                            class="fa-solid fa-circle-plus"></i>
                    </button>
                </div>
            </div>
            <div class="col-md-12">
                <h2>Your Bookings</h2>
                {% if bookings %}
                <h4>Here are the vans you have booked:</h4>
                {% for booking in bookings %}
                <!-- Booking Items -->
                <div class="col-md-10 mx-auto mt-md-3 mt-lg-4 mt-4">
                    <div class="container booking-details-card card shadow my-2">
                        <div class="row">
                            <div class="col-12 col-md-8 mt-3">
                                <ul>
                                    <li>
                                        <i class="fa-solid fa-hashtag me-3"></i>Booking No: <strong>
                                            {{ booking.booking_number }}</strong></li>

                                    <li><i class="fa-solid fa-truck-front me-3"></i><strong
                                            class="booking-card-van-name"> {{ booking.van }}</strong></li>

                                    <li>
                                        <i class="fa-solid fa-location-dot me-3"></i>Location:<strong>
                                            {{ booking.van_location }}</strong></li>

                                    <li><i class="fa-solid fa-clock me-3"></i>Required Date: <strong>
                                            {{ booking.date_required }}</strong></li>

                                    <li><i class="fa-solid fa-calendar-days me-3"></i>Booking Date: <strong>
                                            {{ booking.date_created }}</strong></li>

                                    <li><i class="fa-solid fa-money-bill-1 me-3"></i>Price: <strong>
                                            £{{ booking.price }}</strong></li>

                                    <li><i class="fa-solid fa-pen me-3"></i><small>Last updated:
                                            {{ booking.date_updated }}</small>
                                    </li>

                                    <li
                                        class="booking-status {% if booking.status == 'Pending' %}pending{% elif booking.status == 'Approved' %}approved{% elif booking.status == 'Completed' %}completed{% endif %}">
                                        <i class="fa-solid fa-traffic-light me-3"></i>{{ booking.status }}</li>

                                </ul>

                            </div>

                            <div class="col-lg-3 d-flex flex-column align-items-center justify-content-center">

                                <a class="btn btn-sm btn-outline-info">Leave Feedback</a>

                                <a class="btn btn-sm btn-outline-success feedback-btn-submitted">Feedback Submitted</a>

                                <a class="btn btn-sm btn-outline-warning">Edit</a>

                                <a role="button" class="btn btn-sm btn-outline-danger">Delete</a>

                                <a role="button" class="btn btn-sm btn-outline-primary">View</a>

                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <h4>There are no bookings to display</h4>
                {% endif %}
            </div>
        </div>
    </div>

    <!-- Pagination -->
    <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
            {% if bookings.has_other_pages %}
            <ul class="pagination">
                {% if booking.has_previous %}
                <li class="page-item">
                    <a href="?page={{listings.previous_page_number}}" class="page-link">&laquo;</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a href="" class="page-link">&laquo;</a>
                </li>
                {% endif %}
                {% for i in bookings.paginator.page_range %}
                {% if bookings.number == i %}
                <li class="page-item active">
                    <a href="" class="page-link">{{i}}</a>
                </li>
                {% else %}
                <li class="page-item">
                    <a href="?page={{i}}" class="page-link">{{i}}</a>
                </li>
                {% endif %}
                {% endfor %}
                {% if bookings.has_next %}
                <li class="page-item">
                    <a href="?page={{listings.next_page_number}}" class="page-link">&raquo;</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a href="" class="page-link">&raquo;</a>
                </li>
                {% endif %}
            </ul>
            {% endif %}
        </div>
    </div> End Pagination

</div> <!-- End Bookings Dashboard -->

<!-- Booking Modal -->
<div class=" modal fade" id="bookingModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="bookingModalLabel"><img class="cow-icon"
                        src="{% static 'media/cow_icon_white.png' %}" alt="Cow Icon">Create a Booking
                </h5>
                <button type="button" class="close modal-close-btn" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="{% url 'create_booking' %}" method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <hr>
                    <div id="messages" class="container">
                        {% if form.non_field_errors %}
                        <div class="alert alert-danger alert-dismissable text-center" role="alert">
                            {% for error in form.non_field_errors %}
                            <strong>{{ error }}</strong>
                            {% endfor %}
                        </div>
                        {% endif %}
                        {% for field in form %}
                        {% if field.errors %}
                        <div class="alert alert-danger alert-dismissable text-center" role="alert">
                            <strong>{{ field.errors|join:" " }}</strong>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                    <input type="submit" value="Request Booking" class="btn btn-warning btn-block">
                </form>
                <hr>
                <h5>T&Cs:<br>
                    Please check the Status of your booking on your
                    Dashboard.<br><br>
                    All requests will either be Confirmed by our
                    administrator, or
                    they will contact you to make alternative arrangements.
                </h5>
            </div>
        </div>
    </div>
</div><!-- End Booking Modal -->

<!-- ======= Feedback Section ======= -->
<div class="dashboard py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Your Feedback</h2>
                {% if feedbacks %}
                <h4>Here is the feedback you have left:</h4>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Booking No.</th>
                                <th scope="col">Booking Date</th>
                                <th scope="col">Van Name</th>
                                <th scope="col">Your Feedback</th>
                                <th scope="col">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for feedback in feedbacks %}
                            <tr>
                                <td>{{ feedback.booking.booking_number }}</td>
                                <td>{{ feedback.booking.date_required }}</td>
                                <td>{{ feedback.booking.van }}</td>
                                <td><strong>{{ feedback.title }}</strong><br>{{ feedback.comment }}</td>
                                <td
                                    class="feedback-status {% if feedback.is_approved == 'Pending' %}pending{% elif feedback.is_approved == 'Approved' %}approved{% endif %}">
                                    {{ feedback.is_approved }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% else %}
                <h4>There is no feedback to display</h4>
                {% endif %}
            </div>
        </div>
    </div>

    <!-- Pagination -->
    <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
            {% if feedbacks.has_other_pages %}
            <ul class="pagination">
                {% if feedbacks.has_previous %}
                <li class="page-item">
                    <a href="?page={{listings.previous_page_number}}" class="page-link">&laquo;</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a href="" class="page-link">&laquo;</a>
                </li>
                {% endif %}
                {% for i in feedbacks.paginator.page_range %}
                {% if feedbacks.number == i %}
                <li class="page-item active">
                    <a href="" class="page-link">{{i}}</a>
                </li>
                {% else %}
                <li class="page-item">
                    <a href="?page={{i}}" class="page-link">{{i}}</a>
                </li>
                {% endif %}
                {% endfor %}
                {% if feedbacks.has_next %}
                <li class="page-item">
                    <a href="?page={{listings.next_page_number}}" class="page-link">&raquo;</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a href="" class="page-link">&raquo;</a>
                </li>
                {% endif %}
            </ul>
            {% endif %}
        </div>
    </div> <!-- EndPagination -->
</div><!-- End Feedback Section -->
{% endblock %}