{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block content %}

<main id="main">

    <section class="bg-light">
        <div class="container">

            <div class="section-title section-header">
                <h1> <img class="cow-icon" src="{% static 'media/cow_icon.png' %}" alt="">USER
                    DASHBOARD</h1>
                <h2>Welcome {{ user.first_name }}:</h2>
            </div>
            <!-- Onscreen Messages -->
            {%  include 'partials/_onscreen_messages.html' %}
    </section>

    <!-- ======= User Dashboard ======= -->

    <section id="dashboard" class="py-4">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-12 create-booking-btn">
                        <h5>Create New Booking</h5>
                        <button class="create-booking-button" data-toggle="modal" data-target="#bookingModal"><i
                                class="fa-solid fa-circle-plus"></i></button>
                    </div>
                </div>

                <div class="col-md-12">
                    <h2>Your Bookings</h2>
                    {% if bookings %}
                    <p>Here are the vans you have booked</p>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">No.</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Location</th>
                                    <th scope="col">Size</th>
                                    <th scope="col">Van Name</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Status</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for booking in bookings %}
                                <tr>
                                    <td>{{ booking.id }}</td>
                                    <td>{{ booking.date_required }}</td>
                                    <td>{{ booking.van_location }}</td>
                                    <td>{{ booking.van_size }}</td>
                                    <td>{{ booking.van }}</td>
                                    <td>{{ booking.price }}</td>
                                    <td>{{ booking.status }}</td>
                                </tr>
                                <tr>
                                    <td colspan="6">
                                        <div class="btn-group">
                                            <a class="btn standard-btn btn-warning"
                                                href="{% url 'edit_booking' booking.id %}">Edit</a>
                                            <a class="btn standard-btn btn-danger"
                                                href=" {% url 'delete_booking' booking.id %}">Delete</a>
                                            <a class="btn standard-btn btn-success" href="#">Feedback</a>
                                            <a class="btn standard-btn btn-primary"
                                                href="{% url 'van_detail' slug=booking.van.slug %}">View</a>
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% else %}
                    <h3>There are no bookings to display</h3>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>

    <!-- Booking Modal -->
    <div class=" modal fade" id="bookingModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="bookingModalLabel"><img class="cow-icon"
                            src="{% static 'media/cow_icon_white.png' %}" alt="">Create a Booking
                    </h5>
                    <button type="button" class="close modal-close-btn" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="{% url 'create_booking' %}" method="POST">
                        {% csrf_token %}
                        {{ form|crispy }}

                        <hr>
                        <input type="submit" value="Request Booking" class="btn btn-warning btn-block">
                    </form>
                    <hr>
                    <h5>T&Cs:<br>
                        Please check the Status of your booking on your
                        Dashboard.<br><br>
                        All requests will either be Confirmed by our
                        administrator, or
                        they will contact you to make alternative arrangements.
                    </h5>
                </div>
            </div>
        </div>
    </div><!-- End Booking Modal -->

</main><!-- End #main -->

{% endblock %}