{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<main id="main">
    <section class="bg-light">
        <div class="container">
            <div class="section-title section-header">
                <h1> <img class="cow-icon" src="{% static 'media/cow_icon.png' %}" alt="">Update Booking</h1>
            </div>

            <!-- ======= Breadcrumbs ======= -->
            <section id="breadcrumbs" class="breadcrumbs">
                <div class="container">
                    <div class="d-flex justify-content-between align-items-center">
                        <ol>
                            <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
                            <li>Update Booking</li>
                        </ol>
                    </div>
                </div>
            </section><!-- End Breadcrumbs -->

            <!-- Onscreen Messages -->
            {%  include 'partials/_onscreen_messages.html' %}
    </section>

    <section class="py-4">
        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <form action="" method="POST">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <hr>
                        <input type="submit" value="Request Changes" class="btn btn-warning btn-block">
                    </form>
                    <hr>
                    <a href="{% url 'dashboard' %}" class="btn btn-danger btn-block">Cancel Changes</a>
                    <hr>
                    <h5>T&Cs:<br>
                        Please check the Status of your booking on your Dashboard.<br><br>
                        All requests will either be Confirmed by our administrator, or
                        they will contact you to make alternative arrangements.
                    </h5>
                </div>
            </div>
        </div>
    </section>
</main><!-- End #main -->

{% endblock %}