{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- ======= Hero Section ======= -->
{% include 'partials/_hero-search.html' %}
<!-- End Hero -->

<!-- ======= Featured Van Section ======= -->
<section id="home-featured" class="home-featured bg-light">
    <div class="container">

        <!-- ======= Breadcrumbs ======= -->
        <div id="breadcrumbs" class="breadcrumbs">
            <div class="container">
                <div class="d-flex justify-content-between align-items-center">
                    <ol>
                        <li>Home</li>
                    </ol>
                </div>
            </div>
        </div><!-- End Breadcrumbs -->

        <div class="section-title">
            <!-- Onscreen Messages -->
            {%  include 'partials/_onscreen_messages.html' %}

            <h1>
                <img class="cow-icon" height="auto" width="auto" src="{% static 'media/cow_icon.png' %}"
                    alt="Cow Icon">FEATURED VANS
            </h1>
        </div>
        <div class="row">
            {% if vans %}
            {% for van in vans %}
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                <div class="van">
                    <img src="{{ van.image.url }}" height="auto" width="auto" alt="{{ van.name }}">
                    <h2 class="van-name">{{ van.name }}</h2>
                    <br>
                    <div class="featured-detail">
                        <p>Size: {{ van.size }}</p>
                        <p>Crew: {{ van.crew }}</p>
                        <p>Location: {{ van.location }}</p>
                        <p>County: {{ van.county }}</p>
                        <p>Price: £{{ van.price }} / day</p>
                    </div>
                    <a href="{% url 'van_detail' van.slug %}" class="btn btn-warning" role="button">Details</a>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <div class="col-md-12 no-data-notice">
                <p>No Listings Available</p>
            </div>
            {% endif %}
        </div>
        <div class="all-vans-btn">
            <a href="{% url 'all_vans' %}" class="btn btn-warning btn-all-vans" role="button">See All Vans</a>
        </div>
    </div>
</section><!-- End Featured Van Section -->
{% endblock %}