{% extends 'base.html' %}
{% load static %}


{% block content %}

<main id="main">

    <section class="bg-light section-header">
        <div class="container">

            <div class="section-title ">
                <h1> <img class="cow-icon" src="{% static 'media/cow_icon.png' %}" alt="">REGISTER</h1>

            </div>
    </section>

    <!-- ======= Login Section ======= -->
    <section id="login" class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-6 mx-auto">
                    <div class="card">

                        <div class="card-body">
                            <form action="index.html">
                                <div class="form-group">
                                    <label for="first_name">First Name</label>
                                    <input type="text" name="first_name" class="form-control" required>
                                </div>
                                <div class="form-group">
                                    <label for="last_name">Last Name</label>
                                    <input type="text" name="last_name" class="form-control" required>
                                </div>
                                <div class="form-group">
                                    <label for="username">Username</label>
                                    <input type="text" name="username" class="form-control" required>
                                </div>
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input type="email" name="email" class="form-control" required>
                                </div>
                                <div class="form-group">
                                    <label for="password">Password</label>
                                    <input type="password" name="password" class="form-control" required>
                                </div>
                                <div class="form-group">
                                    <label for="password2">Confirm Password</label>
                                    <input type="password" name="password2" class="form-control" required>
                                </div>
                                <input type="submit" value="Submit" class="btn btn-warning btn-block register-btn">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End Login Section -->



</main><!-- End #main -->


{% endblock %}