{% extends 'base.html' %}
{% load static %}


{% block content %}
<!-- ======= Hero Section ======= -->
{% include 'partials/_hero-search.html' %}
<!-- End Hero -->

<main id="main">

    <!-- ======= Title Section ======= -->
    <section class="bg-light">
        <div class="container">

            <div class="section-title section-header section-van-detail-header">
                <h1> <img class="cow-icon" src="{% static 'media/cow_icon.png %}" alt="">VAN DETAIL</h1>

            </div>
    </section><!-- End Title section -->


</main><!-- End #main -->
{% endblock %}